:root{
    --main-color:#8e7754;
    --secondry-color:#666666;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alegreya Sans";
     /* font-family: 'Lora', serif; */
     /* font-family: "Alegreya"; */
     color: #686868;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6 {
    color: #303030;
    line-height: 1.38em;
    font-weight: 400;
     font-family: "Alegreya";

}
.container{
    padding-left: 50px;
    padding-right: 50px;

}
p{
    line-height: 1.86em;
    font-size: 17px;
}
#panel {
  position: fixed;
  width: 290px;
  right: -290px;
  top: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 -1px 17px 1px rgba(0, 0, 0, 0.09);
  z-index: 999999;
  transition: all 0.4s;
  height: 100%;
  font-size: 13px;
}

.panel-menu {
  position: absolute;
  left: -42px;
  top: 200px;
  height: 86px;
  width: 42px;
  background: #fff;
  border-radius: 4px 0 0 4px;
  text-align: center;
  line-height: 42px;
  font-size: 22px;
  box-shadow: 0 -1px 17px 1px rgba(0, 0, 0, .09);
}

.panel-menu ul {
  position: absolute;
  top: 0;
  right: 5px;
}

.panel-menu ul li i {
  color: var(--secondry-color);
  transition: all .2s ;
}

.panel-menu ul li i:hover {
      color: #0275d8;
}
.panel-menu ul li{
    position: relative;
}

.see-demo , .buy-now{
  position: absolute;
  right: 40px;
  top: 6px;
  width: 160px;
  background: #fff;
  box-shadow: 0 0px 8px 1px rgba(0, 0, 0, 0.08);
  border-radius: 3px;
  padding: 7px 11px;
  font-size: 15px;
  color: #333;
  line-height: 1.3em;
  cursor: pointer;
  transition: all .4s;

  display: none;
  
}
.see-demo:hover , .buy-now:hover{
    background-color:   #0275d8;;
    color: #fff;
}

.see:hover .see-demo , .buy:hover .buy-now{
    display: block;
} 

/* ------------------------------- */

header{
    height: 120vh;
    background-image: url('../images/header-bg.jpg');
    background-size: cover;
    background-position: center center;
    /* position: relative; */
}

.nav-outer{
    position: relative;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 10000;
    transition: all 0.7s ease-in ;
    padding-top: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.09);
}
.navbar.scrolled{
    background-color: #fff;

}
.navbar.scrolled .nav-link{
    color: var(--secondry-color);
}
.navbar.scrolled .nav-link:hover{
    color: #000;
}

.navbar.scrolled .nav-link.active{
    color: #000;
}
.navbar.scrolled .nav-item{
    padding: 5px 10px;
}

.nav-item.act{
    border-top: 3px solid var(--main-color);
}

.navbar-nav .nav-item{
    padding: 20px 10px;
}
li .nav-link{
    color: #fff;
    font-size: 1.2rem;
    transition: all .3s ease-in;
    font-family: "Alegreya";

}
li .nav-link:hover{
    color: #dcc38e;
}
.navbar-nav .nav-link.active{
    color: #a39e97 ;
    
}
.logo-img{
    width: auto;
    height: 50px;
}
/* -------------- */
.head-outer{
    width: 700px;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;

    
}
.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #fff;
}
.header-content h1{
    color: #fff;
    font-size: 5rem;
    font-family: "Alegreya";
}
.header-content p{
    font-size: 1.5rem;
    font-family: "Alegreya Sans";
    margin-bottom: 0;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.color-btn , .light-btn{
    /* font-size: .9rem; */
    padding: 15px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}
.buttons .color-btn{
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border: 2px solid transparent;


}
.buttons .color-btn:hover{
    color: #000;
    background-color: #fff;
}

.buttons .light-btn{
    color: #fff;
    background-color: transparent;
    border: 2px #fff solid;
    box-sizing: border-box;

}
.buttons .light-btn:hover{
    color: #000;
    background-color: #fff;
}


.loader {
 display: inline-block;
 width: 32px;
 height: 50px;
  box-sizing: border-box;
  border: 2px solid #fff;
  position: absolute;
  left: 50%;
  bottom: -55px;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
  transition: all 3s ease-in;

}
.loader a{
      /* transition: all 1s ease-in; */
  transition: all 3s ease-in;

}
.loader::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50% , 50%);
  width: 10px;
  height: 10px;
  background: #FFF;
  border-radius: 50%;
  animation: fadeDown 1s ease-out infinite;
  transition: all 3s ease-in;

}

@keyframes fadeDown {
  0% {
    top: 0%;
    opacity: 1;
  }
  100% {
    top: 60%;
    opacity: 0;
  }
}

.info-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.contact-info ,.contact-info .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* --------------------------------------- */
.who-section , .our-location {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;

}
.who-section .image , .our-location .image{
    width: 45%;
}
.who-section .image img , .our-location .image img{
    width: 100%;
}
.who-section .text , .our-location .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.who-section .text p  , .contact-info .text p{
    font-size: 17px;
}
.icon-p{
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.icon-p div p{
    margin: 0;

}
.icon-p div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon-p div i{
    /* width: 44px;
    height: 44px;
    border-radius: 100%; */
    line-height: 44px;
    font-size: 20px;
    color:var(--main-color);
    /* border: 1px solid #ede4d7; */
}
.icon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 1px solid #ede4d7;
    
}

/* ----------------------------- */

.outer-location{
    background-color: #f8f8f8;

}
/* -------------------- */
.inner{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.inner h2{
    font-size: 22px;
}
.inner p{
        font-size: 17px;

}

/* -------------------------- */
.bg-brown{
    background-color: var(--main-color);
}
.icon-reverse i{
    font-size: 18px !important;
}
.outer-info{
    background-color: #f8f8f8;
}


.main-footer{
    background-color: #403d38;
     padding-top: 5rem;
    padding-bottom: 5rem;
}
.main-footer .text h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 1rem;
}
.main-footer ul{
    padding-left: 0 !important;
    
}
.main-footer ul li{
    border-bottom: 1px solid #4a4742;
    padding: 10px 0;
}
.main-footer ul li i{
    font-size: 16px;
}
.main-footer p , .main-footer ul li{
    color: #969696 !important;
    font-size: 16px;
    
}
.special{
    display: flex;
    gap: 10px;
    align-items: baseline;
}
.main-footer p , .main-footer ul li a{
    text-decoration: none;
    color: #969696;
    transition: all .7s;
}
.main-footer p , .main-footer ul li a:hover{
    color: #fff;
}



.bottom-footer{
    background-color: #353330;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.inner-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.inner-bottom p{
    font-size: 15px;
}
.social-icon{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    background-color: #484540;
    cursor: pointer;
    color: #8c8a86;
    transition: all .7s ;
}
.social-icon i{
    font-size: 18px;
}
.facebook:hover{
    background-color:#3b5998  ;

}
.google:hover{
    background-color:#dd4b39 ;
}
.linkedin:hover{
    background-color:#007bb5 ;
}
.twitter:hover{
    background-color: #00aced;
}
.top-scroll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    transition: all .7s ease-in;
}
.inner-scroll{
    background-color: rgb(0, 0, 0 , .6);
    opacity: .5;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #9a9998;
    transition: all 0.2s ease;

    
}
.inner-scroll a i{
    color: #fff;

}
.hidden{
    display: none;
}
.top-scroll:hover .inner-scroll {
    background-color: #151413;

}





@media (max-width: 991px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff !important;
    z-index: 1000;
  }

  .navbar .nav-link {
    color: #333;
    font-size: 17px;

  }
  .navbar .nav-link:hover{
    color: var(--main-color) !important;
  }

  .navbar-toggler {
    border: none;
  }

  .navbar-toggler-icon {
    color: #000;

  }
  .navbar-nav .nav-item {
    padding: 10px 0px;
    border-bottom: 1px solid #f1f1f1 ;
    display: block;
    padding: 13px 0;
    font-size: 17px;
    position: relative;
  }
  .navbar>.container{
    padding: 0;
  }
  .nav-item.act{
    border-top: none !important;
  }



}

@media screen and (max-width:767px) {
    .navbar{
        /* position: static; */
    }
    .nav-link{
        padding-left: 15px;
    }
    header{
        height: 75vh;
    }
    .header-content{ 
           width: 80% !important;
        margin: auto !important;
    }
    .header-content .main-par{
        font-size: 22px;
    }
    .header-content h1{
        font-size: 34px;
    }
    .header-content .sec-par{
        font-size: 15px !important;
    }
     .header-content .sec-par br{display: none;}
     .loader{bottom: 30%; left: 47%;}
     .container{
        padding-left: 15px;
        padding-right: 15px;
     }
     .our-location{
        width: 100%;
     }
     .our-location .image , .who-section .image{
        width: 100%;
     }
     .who-section , .our-location{flex-direction: column;}
     .who-section .text, .our-location .text {
        width: 100%;
     }
     .p-5{
        padding: 0 !important;
     }
     .map{
        margin-top: 5rem;
     }
}